#img-bg {
    background-image: url("https://images.pexels.com/photos/2085998/pexels-photo-2085998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    position: relative;
    min-height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
